<div class="row">
  <div class="col-md-8">
    <div>
      <%= render 'shared/user_info' %>
    </div>
    <div class="well">
      <h3>Friends</h3>
      <hr>
      <div id="friends">
        <%= render(@friends) || render('shared/no_resource', resources: 'Friends') %>
      </div>
      <%= render 'shared/paginate', resources: @friends %>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <%= render 'shared/links' %>
    </div>
  </div>
</div>
