
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <div class="about-cover" style="background-image: url(/assets/foodlab2.png);"></div>
    <h3>What?</h3>
    <p>
      Open Agriculture is an Open Source Project started by the MIT Media Lab<a href="http://openag.media.mit.edu/background/"><%= fa_icon 'openag' %> OpenAg</a>. The Open Agriculture Database is a project intended to enhance that vision, by allowing open sharing of plant recipes between the community <a href="http://www.umuc.edu/myumuc/index.cfm?recache=1">Team Food</a>.
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      To support the community and support a program which has great potential to revolutionize food.
    </p>
    <br>
    <h3>How?</h3>
    <p>
      Providing an open social media platform for quick and easy sharing of information between food enthusiasts.
    </p>
    <br>
    <a href="">
      <%= fa_icon 'star-it' %> Empty Link
    </a>
    <a href="" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Empty Link
    </a>
  </div>
</div>
