<!--ERB FILE
Josh Farquhar && Steven Murphy
Open Agriculture Database Project
UMUC 495
This file is the example graph which reads the data 
file to an array and outputs to a google chart. Data
is generic and intended for display purposes
-->

<%############################RUBY CODE SECTION################################%>
<%require 'csv'%>
<%require 'treetop'%>
<%require 'stringio'%>
<%require File.expand_path(File.join(File.dirname(__FILE__), 'node_extensions.rb'))%>

<% #Load .gro file, stored path %>
<% gro = "#{Rails.root}/public/uploads/post/attachment/1/SG_hum50_LODG.gro"%>
 <h3 class="text-center">Grow File Graph Example</h3>

    <div id="dashboard_div">
            <div id="categoryPicker_div"></div>
            <div id="chart_div"></div>
    </div>


    <%

    twodarray = [['Sensor', 'Timestamp', 'Sensor Value'],]
    File.open(gro, "r") do |f|
      f.each_line do |line|
        textarray = line.split()
        textarray[0], textarray[1], textarray[2] =textarray[1], textarray[0].gsub!(/:/, '').to_i, textarray[2].to_i
        twodarray << textarray
      end
    end

    %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'table', 'gauge', 'controls']});
      google.charts.setOnLoadCallback(drawMainDashboard);
	   function drawMainDashboard() {
        var dashboard = new google.visualization.Dashboard(
            document.getElementById('dashboard_div'));

        var categoryPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'categoryPicker_div',
          'options': {
            'filterColumnIndex': 0,
            'ui': {
              'labelStacking': 'horizontal',
              'label': 'Sensor Selection:',
              'allowTyping': false,
              'allowMultiple': false
            }
          }
        });

        var line = new google.visualization.ChartWrapper({
          'chartType': 'LineChart',
          'containerId': 'chart_div',
          'options': {
            'width': 800,
            'height': 500,
            'legend': 'right',
          },
          'view': {'columns': [0, 2]}
        });

        var data = google.visualization.arrayToDataTable(<%= raw twodarray %>);
        dashboard.bind([categoryPicker], [line]);
        dashboard.draw(data);
      }
    </script>



