<!--

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="graph.js.erb"></script>
<div id="databox"> Graph V 1.1 

</div>-->
<%require 'csv'%>


<%#file = Array.new%>.

<%#File.open("#{Rails.root}/app/views/home/new.gro").each do |line|

# puts Parser.parse(line)

#file.push line
#end%>.

  <div class="col-lg-6 col-lg-offset-3 well" >
    <h3 class="text-center">Grow File Graph</h3>
    </div>

<div id="graphdiv2"
  style="width:500px; height:100px;"></div>
<script type="text/javascript">
  g2 = new Dygraph(
    document.getElementById("graphdiv2"),
    "#{Rails.root}/app/views/home/new.csv", // path to CSV file
    {}          // options
  );
</script>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChartRuby);
      function drawChartRuby() {
       var data2 = google.visualization.arrayToDataTable([
          ['Sensor', 'Sensor Value', 'Timestamp'],
          ['    SLIN'   ,       0       ,       0.00    ],
          ['    SATM'   ,       26      ,       0.00    ],
          ['    SATM'   ,       23      ,       180000.00       ],
          ['    SATM'   ,       26      ,       1000000.00      ],
          ['    SATM'   ,       23      ,       1180000.00      ],
          ['    SATM'   ,       26      ,       2000000.00      ],
          ['    SATM'   ,       23      ,       2180000.00      ],
          ['    SATM'   ,       26      ,       3000000.00      ],
          ['    SATM'   ,       23      ,       3180000.00      ],
          ['    SLIN'   ,       10  ,       4000000.00      ],
          ['    SATM'   ,       26      ,       4000000.00      ],
          ['    SAHU'   ,       50      ,       4000000.00      ],
          ['    SLIN'   ,       0       ,       4180000.00      ],
          ['    SATM'   ,       23      ,       4180000.00      ],
          ['    SLIN'   ,       10  ,       5000000.00      ],
          ['    SATM'   ,       26      ,       5000000.00      ],
          ['    SLIN'   ,       0       ,       5180000.00      ],
          ['    SATM'   ,       23      ,       5180000.00      ],
          ['    SLIN'   ,       10  ,       6000000.00      ],
          ['    SATM'   ,       26      ,       6000000.00      ],
          ['    SLIN'   ,       0       ,       6180000.00      ],
          ['    SATM'   ,       23      ,       6180000.00      ],
          ['    SLIN'   ,       10  ,       7000000.00      ],
          ['    SATM'   ,       26      ,       7000000.00      ],
          ['    SLIN'   ,       0       ,       7180000.00      ],
          ['    SATM'   ,       23      ,       7180000.00      ],
          ['    SLIN'   ,       10  ,       8000000.00      ],
          ['    SATM'   ,       26      ,       8000000.00      ],
          ['    SLIN'   ,       0       ,       8180000.00      ],
          ['    SATM'   ,       23      ,       8180000.00      ],
          ['    SLIN'   ,       10  ,       9000000.00      ],
          ['    SATM'   ,       26      ,       9000000.00      ],
          ['    SLIN'   ,       0       ,       9180000.00      ],
          ['    SATM'   ,       23      ,       9180000.00      ],
          ['    SLIN'   ,       10  ,       10000000.00     ],
          ['    SATM'   ,       26      ,       10000000.00     ],
          ['    SLIN'   ,       0       ,       10180000.00     ],
          ['    SATM'   ,       23      ,       10180000.00     ],
          ['    SLIN'   ,       10  ,       11000000.00     ],
          ['    SATM'   ,       26      ,       11000000.00     ],
          ['    SLIN'   ,       0       ,       11180000.00     ],
          ['    SATM'   ,       23      ,       11180000.00     ],
          ['    SLIN'   ,       10  ,       12000000.00     ],
          ['    SATM'   ,       26      ,       12000000.00     ],
          ['    SLIN'   ,       0       ,       12180000.00     ],
          ['    SATM'   ,       23      ,       12180000.00     ],
          ['    SLIN'   ,       10  ,       13000000.00     ],
          ['    SATM'   ,       26      ,       13000000.00     ],
          ['    SLIN'   ,       0       ,       13180000.00     ],
          ['    SATM'   ,       23      ,       13180000.00     ],
          ['    SLIN'   ,       10  ,       14000000.00     ],
          ['    SATM'   ,       26      ,       14000000.00     ],
          ['    SLIN'   ,       0       ,       14180000.00     ],
          ['    SATM'   ,       23      ,       14180000.00     ],
          ['    SLIN'   ,       10  ,       15000000.00     ],
          ['    SATM'   ,       26      ,       15000000.00     ],
          ['    SLIN'   ,       0       ,       15180000.00     ],
          ['    SATM'   ,       23      ,       15180000.00     ],
          ['    SLIN'   ,       10  ,       16000000.00     ],
          ['    SATM'   ,       26      ,       16000000.00     ],
          ['    SLIN'   ,       0       ,       16180000.00     ],
          ['    SATM'   ,       23      ,       16180000.00     ],
          ['    SLIN'   ,       10  ,       17000000.00     ],
          ['    SATM'   ,       26      ,       17000000.00     ],
          ['    SLIN'   ,       0       ,       17180000.00     ],
          ['    SATM'   ,       23      ,       17180000.00     ],
          ['    SLIN'   ,       10  ,       18000000.00     ],
          ['    SATM'   ,       26      ,       18000000.00     ],
          ['    SLIN'   ,       0       ,       18180000.00     ],
          ['    SATM'   ,       23      ,       18180000.00     ],
          ['    SLIN'   ,       10  ,       19000000.00     ],
          ['    SATM'   ,       26      ,       19000000.00     ],
          ['    SLIN'   ,       0       ,       19180000.00     ],
          ['    SATM'   ,       23      ,       19180000.00     ],
          ['    SLIN'   ,       10  ,       20000000.00     ],
          ['    SATM'   ,       26      ,       20000000.00     ],
          ['    SLIN'   ,       0       ,       20180000.00     ],
          ['    SATM'   ,       23      ,       20180000.00     ],
          ['    SLIN'   ,       10  ,       21000000.00     ],
          ['    SATM'   ,       26      ,       21000000.00     ],
          ['    SLIN'   ,       0       ,       21180000.00     ],
          ['    SATM'   ,       23      ,       21180000.00     ],
          ['    SLIN'   ,       10  ,       22000000.00     ],
          ['    SATM'   ,       26      ,       22000000.00     ],
          ['    SLIN'   ,       0       ,       22180000.00     ],
          ['    SATM'   ,       23      ,       22180000.00     ],
          ['    SLIN'   ,       10  ,       23000000.00     ],
          ['    SATM'   ,       26      ,       23000000.00     ],
          ['    SLIN'   ,       0       ,       23180000.00     ],
          ['    SATM'   ,       23      ,       23180000.00     ],
          ['    SLIN'   ,       10  ,       24000000.00     ],
          ['    SATM'   ,       26      ,       24000000.00     ],
          ['    SLIN'   ,       0       ,       24180000.00     ],
          ['    SATM'   ,       23      ,       24180000.00     ],
          ['    SLIN'   ,       10  ,       25000000.00     ],
          ['    SATM'   ,       26      ,       25000000.00     ],
          ['    SLIN'   ,       0       ,       25180000.00     ],
          ['    SATM'   ,       23      ,       25180000.00     ],
          ['    SLIN'   ,       10  ,       26000000.00     ],
          ['    SATM'   ,       26      ,       26000000.00     ],
          ['    SLIN'   ,       0       ,       26180000.00     ],
          ['    SATM'   ,       23      ,       26180000.00     ],
          ['    SLIN'   ,       10  ,       27000000.00     ],
          ['    SATM'   ,       26      ,       27000000.00     ],
          ['    SLIN'   ,       0       ,       27180000.00     ],
          ['    SATM'   ,       23      ,       27180000.00     ],
          ['    SLIN'   ,       10  ,       28000000.00     ],
          ['    SATM'   ,       26      ,       28000000.00     ],
          ['    SLIN'   ,       0       ,       28180000.00     ],
          ['    SATM'   ,       23      ,       28180000.00     ],
          ['    SLIN'   ,       10  ,       29000000.00     ],
          ['    SATM'   ,       26      ,       29000000.00     ],
          ['    SLIN'   ,       0       ,       29180000.00     ],
          ['    SATM'   ,       23      ,       29180000.00     ],
          ['    SLIN'   ,       10  ,       30000000.00     ],
          ['    SATM'   ,       26      ,       30000000.00     ],
          ['    SLIN'   ,       0       ,       30180000.00     ],
          ['    SATM'   ,       23      ,       30180000.00     ],
          ['    SLIN'   ,       10  ,       31000000.00     ],
          ['    SATM'   ,       26      ,       31000000.00     ],
          ['    SLIN'   ,       0       ,       31180000.00     ],
          ['    SATM'   ,       23      ,       31180000.00     ],
          ['    SLIN'   ,       10  ,       32000000.00     ],
          ['    SATM'   ,       26      ,       32000000.00     ],
          ['    SLIN'   ,       0       ,       32180000.00     ],
          ['    SATM'   ,       23      ,       32180000.00     ],
          ['    SLIN'   ,       10  ,       33000000.00     ],
          ['    SATM'   ,       26      ,       33000000.00     ],
          ['    SLIN'   ,       0       ,       33180000.00     ],
          ['    SATM'   ,       23      ,       33180000.00     ],
          ['    SLIN'   ,       10  ,       34000000.00     ],
          ['    SATM'   ,       26      ,       34000000.00     ],
          ['    SLIN'   ,       0       ,       34180000.00     ],
          ['    SATM'   ,       23      ,       34180000.00     ],
          ['    SLIN'   ,       10  ,       35000000.00     ],
          ['    SATM'   ,       26      ,       35000000.00     ],
          ['    SLIN'   ,       0       ,       35180000.00     ],
          ['    SATM'   ,       23      ,       35180000.00     ],
          ['    SLIN'   ,       10  ,       36000000.00     ],
          ['    SATM'   ,       26      ,       36000000.00     ],
          ['    SLIN'   ,       0       ,       36180000.00     ],
          ['    SATM'   ,       23      ,       36180000.00     ],
          ['    SLIN'   ,       10  ,       37000000.00     ],
          ['    SATM'   ,       26      ,       37000000.00     ],
          ['    SLIN'   ,       0       ,       37180000.00     ],
          ['    SATM'   ,       23      ,       37180000.00     ],
          ['    SLIN'   ,       10  ,       38000000.00     ],
          ['    SATM'   ,       26      ,       38000000.00     ],
          ['    SLIN'   ,       0       ,       38180000.00     ],
          ['    SATM'   ,       23      ,       38180000.00     ],
          ['    SLIN'   ,       10  ,       39000000.00     ],
          ['    SATM'   ,       26      ,       39000000.00     ],
          ['    SLIN'   ,       0       ,       39180000.00     ],
          ['    SATM'   ,       23      ,       39180000.00     ],
          ['    SLIN'   ,       10  ,       40000000.00     ],
          ['    SATM'   ,       26      ,       40000000.00     ],
          ['    SLIN'   ,       0       ,       40180000.00     ],
          ['    SATM'   ,       23      ,       40180000.00     ],
          ['    SLIN'   ,       10  ,       41000000.00     ],
		  ['    SATM'   ,       26      ,       41000000.00     ],
          ['    SLIN'   ,       0       ,       41180000.00     ],
          ['    SATM'   ,       23      ,       41180000.00     ],
          ['    SLIN'   ,       10  ,       42000000.00     ],
          ['    SATM'   ,       26      ,       42000000.00     ],
          ['    SLIN'   ,       0       ,       42180000.00     ],
          ['    SATM'   ,       23      ,       42180000.00     ],
          ['    SLIN'   ,       10  ,       43000000.00     ],
          ['    SATM'   ,       26      ,       43000000.00     ],
          ['    SLIN'   ,       0       ,       43180000.00     ],
          ['    SATM'   ,       23      ,       43180000.00     ],
          ['    SLIN'   ,       10  ,       44000000.00     ],
          ['    SATM'   ,       26      ,       44000000.00     ],
          ['    SLIN'   ,       0       ,       44180000.00     ],
          ['    SATM'   ,       23      ,       44180000.00     ],
          ['    SLIN'   ,       10  ,       45000000.00     ],
          ['    SATM'   ,       26      ,       45000000.00     ],
          ['    SLIN'   ,       0       ,       45180000.00     ],
          ['    SATM'   ,       23      ,       45180000.00     ],
          ['    SLIN'   ,       10  ,       46000000.00     ],
          ['    SATM'   ,       26      ,       46000000.00     ],
          ['    SLIN'   ,       0       ,       46180000.00     ],
          ['    SATM'   ,       23      ,       46180000.00     ],
          ['    SLIN'   ,       10  ,       47000000.00     ],
          ['    SATM'   ,       26      ,       47000000.00     ],
          ['    SLIN'   ,       0       ,       47180000.00     ],
          ['    SATM'   ,       23      ,       47180000.00     ],
          ['    SLIN'   ,       10  ,       48000000.00     ],
          ['    SATM'   ,       26      ,       48000000.00     ],
          ['    SLIN'   ,       0       ,       48180000.00     ],
          ['    SATM'   ,       23      ,       48180000.00     ],
          ['    SLIN'   ,       10  ,       49000000.00     ],
          ['    SATM'   ,       26      ,       49000000.00     ],
          ['    SLIN'   ,       0       ,       49180000.00     ],
          ['    SATM'   ,       23      ,       49180000.00     ],
          ['    SLIN'   ,       10  ,       50000000.00     ],
          ['    SATM'   ,       26      ,       50000000.00     ],
          ['    SLIN'   ,       0       ,       50180000.00     ],
          ['    SATM'   ,       23      ,       50180000.00     ],
          ['    SLIN'   ,       10  ,       51000000.00     ],
          ['    SATM'   ,       26      ,       51000000.00     ],
          ['    SLIN'   ,       0       ,       51180000.00     ],
          ['    SATM'   ,       23      ,       51180000.00     ],
          ['    SLIN'   ,       10  ,       52000000.00     ],
		  ['    SATM'   ,       26      ,       52000000.00     ],
          ['    SLIN'   ,       0       ,       52180000.00     ],
          ['    SATM'   ,       23      ,       52180000.00     ],
          ['    SLIN'   ,       10  ,       53000000.00     ],
          ['    SATM'   ,       26      ,       53000000.00     ],
          ['    SLIN'   ,       0       ,       53180000.00     ],
          ['    SATM'   ,       23      ,       53180000.00     ],
          ['    SLIN'   ,       10 ,       54000000.00     ],
          ['    SATM'   ,       26      ,       54000000.00     ],
          ['    SLIN'   ,       0       ,       54180000.00     ],
          ['    SATM'   ,       23      ,       54180000.00     ],
          ['    SLIN'   ,       10 ,       55000000.00     ],
          ['    SATM'   ,       26      ,       55000000.00     ],
          ['    SLIN'   ,       0       ,       55180000.00     ],
          ['    SATM'   ,       23      ,       55180000.00     ],
          ['    SLIN'   ,       10  ,       56000000.00     ],
          ['    SATM'   ,       26      ,       56000000.00     ],
          ['    SLIN'   ,       0       ,       56180000.00     ],
          ['    SATM'   ,       23      ,       56180000.00     ],
          ['    SLIN'   ,       10  ,       57000000.00     ],
          ['    SATM'   ,       26      ,       57000000.00     ],
          ['    SLIN'   ,       0       ,       57180000.00     ],
          ['    SATM'   ,       23      ,       57180000.00     ],
          ['    SLIN'   ,       10  ,       58000000.00     ],
          ['    SATM'   ,       26      ,       58000000.00     ],
          ['    SLIN'   ,       0       ,       58180000.00     ],
          ['    SATM'   ,       23      ,       58180000.00     ],
          ['    SLIN'   ,       10  ,       59000000.00     ],
          ['    SATM'   ,       26      ,       59000000.00     ],
          ['    SLIN'   ,       0       ,       59180000.00     ],
          ['    SATM'   ,       23      ,       59180000.00     ],
          ['    GHAR'   ,       0       ,       60000000.00     ]
        ]);


        var options = {
          title: 'Upload',
          vAxis: {title: 'Time'},
          isStacked: true
        };

        var chartRuby = new google.visualization.SteppedAreaChart(document.getElementById('chart_div2'));

        chartRuby.draw(data2, options);
      }
     

     function drawChart() {

        var data = google.visualization.arrayToDataTable([
        ['SENSOR', 'VALUE',        'DAY', 'TYPE',     'TIME'],
        ['SLIN',    0,              7,      'LIGHT',  180000],
        ['SATM',    26,              6,      'SOIL',         000000],
        ['SAHU',    50,               5,      'AIR',         000000],
        ['SLIN',    10,           3,      'LIGHT',    000000],
        ['SAHU',    50,              2,         'AIR',         180000],
        ['SATM',    23,              1,       'SOIL',    180000],
        ['SAHU',    68,              4,      'AIR',    000000],
        ['SLIN',    83,              2,      'LIGHT',    180000],
        ['SATM',    68,               1,      'SOIL',         000000],
        ['GHAR',    73,              8,      'HARVEST',  180000]
         
        ]);

        var options = {
          title: 'Simple Greens recipe',
          vAxis: {title: 'Over Time'},
          isStacked: true
        };

        var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>

       <!-- <div id="chart_div" style="width: 625px; height: 500px;"></div>-->
        <div id = "chart_div" width="200" height="200" align="middle" >
</div>
<div id = "chart_div2" width="200" height="200" align="middle" >
</div>

 <div id = "ruby_div" width="200" height="200" align="middle" >

<%file2 = Array.new%>.
<%File.open("#{Rails.root}/app/views/home/new.gro").each do |line|
    # s << line

  
  # puts Parser.parse(line)
   h( puts line)
   file2.push line
 end%>.
<%=file2%>
</div>

