<!--
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="graph.js.erb"></script>
<div id="databox"> Graph V 1.1 

</div>-->


  <div class="col-lg-6 col-lg-offset-3 well" >
    <h3 class="text-center">Grow File Graph</h3>
    </div>

<div id="graphdiv2"
  style="width:500px; height:100px;"></div>
<script type="text/javascript">
  g2 = new Dygraph(
    document.getElementById("graphdiv2"),
    "SG_hum50_LODG.txt", // path to CSV file
    {}          // options
  );
</script>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Sensor', 'Sensor Value', 'Timestamp'],
          ['	SLIN'	,	0	,	0.00	],
          ['	SATM'	,	26	,	0.00	],
          ['	SATM'	,	23	,	180000.00	],
          ['	SATM'	,	26	,	1000000.00	],
          ['	SATM'	,	23	,	1180000.00	],
          ['	SATM'	,	26	,	2000000.00	],
          ['	SATM'	,	23	,	2180000.00	],
          ['	SATM'	,	26	,	3000000.00	],
          ['	SATM'	,	23	,	3180000.00	],
          ['	SLIN'	,	100000	,	4000000.00	],
          ['	SATM'	,	26	,	4000000.00	],
          ['	SAHU'	,	50	,	4000000.00	],
          ['	SLIN'	,	0	,	4180000.00	],
          ['	SATM'	,	23	,	4180000.00	],
          ['	SLIN'	,	100000	,	5000000.00	],
          ['	SATM'	,	26	,	5000000.00	],
          ['	SLIN'	,	0	,	5180000.00	],
          ['	SATM'	,	23	,	5180000.00	],
          ['	SLIN'	,	100000	,	6000000.00	],
          ['	SATM'	,	26	,	6000000.00	],
          ['	SLIN'	,	0	,	6180000.00	],
          ['	SATM'	,	23	,	6180000.00	],
          ['	SLIN'	,	100000	,	7000000.00	],
          ['	SATM'	,	26	,	7000000.00	],
          ['	SLIN'	,	0	,	7180000.00	],
          ['	SATM'	,	23	,	7180000.00	],
          ['	SLIN'	,	100000	,	8000000.00	],
          ['	SATM'	,	26	,	8000000.00	],
          ['	SLIN'	,	0	,	8180000.00	],
          ['	SATM'	,	23	,	8180000.00	],
          ['	SLIN'	,	100000	,	9000000.00	],
          ['	SATM'	,	26	,	9000000.00	],
          ['	SLIN'	,	0	,	9180000.00	],
          ['	SATM'	,	23	,	9180000.00	],
          ['	SLIN'	,	100000	,	10000000.00	],
          ['	SATM'	,	26	,	10000000.00	],
          ['	SLIN'	,	0	,	10180000.00	],
          ['	SATM'	,	23	,	10180000.00	],
          ['	SLIN'	,	100000	,	11000000.00	],
          ['	SATM'	,	26	,	11000000.00	],
          ['	SLIN'	,	0	,	11180000.00	],
          ['	SATM'	,	23	,	11180000.00	],
          ['	SLIN'	,	100000	,	12000000.00	],
          ['	SATM'	,	26	,	12000000.00	],
          ['	SLIN'	,	0	,	12180000.00	],
          ['	SATM'	,	23	,	12180000.00	],
          ['	SLIN'	,	100000	,	13000000.00	],
          ['	SATM'	,	26	,	13000000.00	],
          ['	SLIN'	,	0	,	13180000.00	],
          ['	SATM'	,	23	,	13180000.00	],
          ['	SLIN'	,	100000	,	14000000.00	],
          ['	SATM'	,	26	,	14000000.00	],
          ['	SLIN'	,	0	,	14180000.00	],
          ['	SATM'	,	23	,	14180000.00	],
          ['	SLIN'	,	100000	,	15000000.00	],
          ['	SATM'	,	26	,	15000000.00	],
          ['	SLIN'	,	0	,	15180000.00	],
          ['	SATM'	,	23	,	15180000.00	],
          ['	SLIN'	,	100000	,	16000000.00	],
          ['	SATM'	,	26	,	16000000.00	],
          ['	SLIN'	,	0	,	16180000.00	],
          ['	SATM'	,	23	,	16180000.00	],
          ['	SLIN'	,	100000	,	17000000.00	],
          ['	SATM'	,	26	,	17000000.00	],
          ['	SLIN'	,	0	,	17180000.00	],
          ['	SATM'	,	23	,	17180000.00	],
          ['	SLIN'	,	100000	,	18000000.00	],
          ['	SATM'	,	26	,	18000000.00	],
          ['	SLIN'	,	0	,	18180000.00	],
          ['	SATM'	,	23	,	18180000.00	],
          ['	SLIN'	,	100000	,	19000000.00	],
          ['	SATM'	,	26	,	19000000.00	],
          ['	SLIN'	,	0	,	19180000.00	],
          ['	SATM'	,	23	,	19180000.00	],
          ['	SLIN'	,	100000	,	20000000.00	],
          ['	SATM'	,	26	,	20000000.00	],
          ['	SLIN'	,	0	,	20180000.00	],
          ['	SATM'	,	23	,	20180000.00	],
          ['	SLIN'	,	100000	,	21000000.00	],
          ['	SATM'	,	26	,	21000000.00	],
          ['	SLIN'	,	0	,	21180000.00	],
          ['	SATM'	,	23	,	21180000.00	],
          ['	SLIN'	,	100000	,	22000000.00	],
          ['	SATM'	,	26	,	22000000.00	],
          ['	SLIN'	,	0	,	22180000.00	],
          ['	SATM'	,	23	,	22180000.00	],
          ['	SLIN'	,	100000	,	23000000.00	],
          ['	SATM'	,	26	,	23000000.00	],
          ['	SLIN'	,	0	,	23180000.00	],
          ['	SATM'	,	23	,	23180000.00	],
          ['	SLIN'	,	100000	,	24000000.00	],
          ['	SATM'	,	26	,	24000000.00	],
          ['	SLIN'	,	0	,	24180000.00	],
          ['	SATM'	,	23	,	24180000.00	],
          ['	SLIN'	,	100000	,	25000000.00	],
          ['	SATM'	,	26	,	25000000.00	],
          ['	SLIN'	,	0	,	25180000.00	],
          ['	SATM'	,	23	,	25180000.00	],
          ['	SLIN'	,	100000	,	26000000.00	],
          ['	SATM'	,	26	,	26000000.00	],
          ['	SLIN'	,	0	,	26180000.00	],
          ['	SATM'	,	23	,	26180000.00	],
          ['	SLIN'	,	100000	,	27000000.00	],
          ['	SATM'	,	26	,	27000000.00	],
          ['	SLIN'	,	0	,	27180000.00	],
          ['	SATM'	,	23	,	27180000.00	],
          ['	SLIN'	,	100000	,	28000000.00	],
          ['	SATM'	,	26	,	28000000.00	],
          ['	SLIN'	,	0	,	28180000.00	],
          ['	SATM'	,	23	,	28180000.00	],
          ['	SLIN'	,	100000	,	29000000.00	],
          ['	SATM'	,	26	,	29000000.00	],
          ['	SLIN'	,	0	,	29180000.00	],
          ['	SATM'	,	23	,	29180000.00	],
          ['	SLIN'	,	100000	,	30000000.00	],
          ['	SATM'	,	26	,	30000000.00	],
          ['	SLIN'	,	0	,	30180000.00	],
          ['	SATM'	,	23	,	30180000.00	],
          ['	SLIN'	,	100000	,	31000000.00	],
          ['	SATM'	,	26	,	31000000.00	],
          ['	SLIN'	,	0	,	31180000.00	],
          ['	SATM'	,	23	,	31180000.00	],
          ['	SLIN'	,	100000	,	32000000.00	],
          ['	SATM'	,	26	,	32000000.00	],
          ['	SLIN'	,	0	,	32180000.00	],
          ['	SATM'	,	23	,	32180000.00	],
          ['	SLIN'	,	100000	,	33000000.00	],
          ['	SATM'	,	26	,	33000000.00	],
          ['	SLIN'	,	0	,	33180000.00	],
          ['	SATM'	,	23	,	33180000.00	],
          ['	SLIN'	,	100000	,	34000000.00	],
          ['	SATM'	,	26	,	34000000.00	],
          ['	SLIN'	,	0	,	34180000.00	],
          ['	SATM'	,	23	,	34180000.00	],
          ['	SLIN'	,	100000	,	35000000.00	],
          ['	SATM'	,	26	,	35000000.00	],
          ['	SLIN'	,	0	,	35180000.00	],
          ['	SATM'	,	23	,	35180000.00	],
          ['	SLIN'	,	100000	,	36000000.00	],
          ['	SATM'	,	26	,	36000000.00	],
          ['	SLIN'	,	0	,	36180000.00	],
          ['	SATM'	,	23	,	36180000.00	],
          ['	SLIN'	,	100000	,	37000000.00	],
          ['	SATM'	,	26	,	37000000.00	],
          ['	SLIN'	,	0	,	37180000.00	],
          ['	SATM'	,	23	,	37180000.00	],
          ['	SLIN'	,	100000	,	38000000.00	],
          ['	SATM'	,	26	,	38000000.00	],
          ['	SLIN'	,	0	,	38180000.00	],
          ['	SATM'	,	23	,	38180000.00	],
          ['	SLIN'	,	100000	,	39000000.00	],
          ['	SATM'	,	26	,	39000000.00	],
          ['	SLIN'	,	0	,	39180000.00	],
          ['	SATM'	,	23	,	39180000.00	],
          ['	SLIN'	,	100000	,	40000000.00	],
          ['	SATM'	,	26	,	40000000.00	],
          ['	SLIN'	,	0	,	40180000.00	],
          ['	SATM'	,	23	,	40180000.00	],
          ['	SLIN'	,	100000	,	41000000.00	],
          ['	SATM'	,	26	,	41000000.00	],
          ['	SLIN'	,	0	,	41180000.00	],
          ['	SATM'	,	23	,	41180000.00	],
          ['	SLIN'	,	100000	,	42000000.00	],
          ['	SATM'	,	26	,	42000000.00	],
          ['	SLIN'	,	0	,	42180000.00	],
          ['	SATM'	,	23	,	42180000.00	],
          ['	SLIN'	,	100000	,	43000000.00	],
          ['	SATM'	,	26	,	43000000.00	],
          ['	SLIN'	,	0	,	43180000.00	],
          ['	SATM'	,	23	,	43180000.00	],
          ['	SLIN'	,	100000	,	44000000.00	],
          ['	SATM'	,	26	,	44000000.00	],
          ['	SLIN'	,	0	,	44180000.00	],
          ['	SATM'	,	23	,	44180000.00	],
          ['	SLIN'	,	100000	,	45000000.00	],
          ['	SATM'	,	26	,	45000000.00	],
          ['	SLIN'	,	0	,	45180000.00	],
          ['	SATM'	,	23	,	45180000.00	],
          ['	SLIN'	,	100000	,	46000000.00	],
          ['	SATM'	,	26	,	46000000.00	],
          ['	SLIN'	,	0	,	46180000.00	],
          ['	SATM'	,	23	,	46180000.00	],
          ['	SLIN'	,	100000	,	47000000.00	],
          ['	SATM'	,	26	,	47000000.00	],
          ['	SLIN'	,	0	,	47180000.00	],
          ['	SATM'	,	23	,	47180000.00	],
          ['	SLIN'	,	100000	,	48000000.00	],
          ['	SATM'	,	26	,	48000000.00	],
          ['	SLIN'	,	0	,	48180000.00	],
          ['	SATM'	,	23	,	48180000.00	],
          ['	SLIN'	,	100000	,	49000000.00	],
          ['	SATM'	,	26	,	49000000.00	],
          ['	SLIN'	,	0	,	49180000.00	],
          ['	SATM'	,	23	,	49180000.00	],
          ['	SLIN'	,	100000	,	50000000.00	],
          ['	SATM'	,	26	,	50000000.00	],
          ['	SLIN'	,	0	,	50180000.00	],
          ['	SATM'	,	23	,	50180000.00	],
          ['	SLIN'	,	100000	,	51000000.00	],
          ['	SATM'	,	26	,	51000000.00	],
          ['	SLIN'	,	0	,	51180000.00	],
          ['	SATM'	,	23	,	51180000.00	],
          ['	SLIN'	,	100000	,	52000000.00	],
          ['	SATM'	,	26	,	52000000.00	],
          ['	SLIN'	,	0	,	52180000.00	],
          ['	SATM'	,	23	,	52180000.00	],
          ['	SLIN'	,	100000	,	53000000.00	],
          ['	SATM'	,	26	,	53000000.00	],
          ['	SLIN'	,	0	,	53180000.00	],
          ['	SATM'	,	23	,	53180000.00	],
          ['	SLIN'	,	100000	,	54000000.00	],
          ['	SATM'	,	26	,	54000000.00	],
          ['	SLIN'	,	0	,	54180000.00	],
          ['	SATM'	,	23	,	54180000.00	],
          ['	SLIN'	,	100000	,	55000000.00	],
          ['	SATM'	,	26	,	55000000.00	],
          ['	SLIN'	,	0	,	55180000.00	],
          ['	SATM'	,	23	,	55180000.00	],
          ['	SLIN'	,	100000	,	56000000.00	],
          ['	SATM'	,	26	,	56000000.00	],
          ['	SLIN'	,	0	,	56180000.00	],
          ['	SATM'	,	23	,	56180000.00	],
          ['	SLIN'	,	100000	,	57000000.00	],
          ['	SATM'	,	26	,	57000000.00	],
          ['	SLIN'	,	0	,	57180000.00	],
          ['	SATM'	,	23	,	57180000.00	],
          ['	SLIN'	,	100000	,	58000000.00	],
          ['	SATM'	,	26	,	58000000.00	],
          ['	SLIN'	,	0	,	58180000.00	],
          ['	SATM'	,	23	,	58180000.00	],
          ['	SLIN'	,	100000	,	59000000.00	],
          ['	SATM'	,	26	,	59000000.00	],
          ['	SLIN'	,	0	,	59180000.00	],
          ['	SATM'	,	23	,	59180000.00	],
          ['	GHAR'	,	0	,	60000000.00	]
        ]);

        var options = {
          title: 'Simple Greens recipe',
          vAxis: {title: 'Over Time'},
          isStacked: true
        };

        var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>

       <!-- <div id="chart_div" style="width: 625px; height: 500px;"></div>-->
        <div id = "chart_div" width="200" height="200" data="helloworld.swf" align="middle" >
</div>
