table { text-align : center;             }
td    { width : 50px ; height : 20px;    }
td.col{ background : #41F455;            }
td.row{ background : #A1F455;            }
td.tot{ background : #C9F2BA;color:white;}
td.gto{ background : #A1F445;            }
div#databox{ width : 360px ; padding : 5px ; margin : auto ; }
fieldset#editbox{ width : 360px ; padding : 5px;
  margin : auto ; border : 1px solid black ; color : black;      }
legend#title    { background : black ; color : white ;         }

