<div class="row">
  <div class="col-md-8">
    <div>
      <%= render 'shared/user_info' %>
    </div>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <%= render 'shared/links' %>
    </div>
  </div>
</div>
